.budget {
    margin: 0 auto;
    padding: 2rem;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    text-align: center;
    justify-content: center;
    justify-items: center;
    min-height: 85vh;
    min-width: 80vw;
    background: rgb(255, 255, 255);
    color: blue;
}

.entry-card{
    box-shadow: 0 0 .4rem gray;
    color: blue;
}
