
.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    gap: 3rem;
}

.email-wrapper {
    color: var(--text);
    display: grid;
    text-align: start;
    background: var(--neutral);
    border-radius: 1rem;
    padding: 2rem;
    gap: 1rem;
}

@media (max-width:900px){
    .email-wrapper{
        display: flex;
        flex-direction: column;
    }
}

#textfield {
    grid-area: 2 / 1 / 2 / 3;
}

#emailButton {
    grid-area: 3 / 1 /3 / 3;
    margin-inline: auto;
    width: max-content;
    padding: .5rem 1rem;
    border-radius: .7rem;
    border: none;
    color: var(--compliment);
    background: var(--accent);
    box-shadow: var(--shadow) var(--accent);
}

.social{
    background-color: rgba(0,0,0,0);
    object-fit: contain;
    border: none;
}

.title-span {
    flex-basis: 70%;
    word-wrap: wrap;
}

.title-span p {
    font-size: 1.3rem;
}

.group-col {
    flex-basis: 30%;
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1rem 1fr 1rem;
    grid-template-rows: .1fr .2fr 1fr;
    gap: 1.5rem;
    height: max-content;
}

.socials {
    flex-grow: 0;
    max-width: max-content;
}

.group-col h2 {
    padding: .2rem 1rem;
    grid-column: 2/3;
    width: max-content;
    justify-self: center;
    grid-row: 1/3;
    display: grid;
    background-color: var(--neutral);
    box-shadow: var(--shadow) var(--accent);
    border-radius: 1rem;
}

.group-col .email-wrapper,
.group-col .group.social-group {
    grid-column: 1/4;
    grid-row: 2/4;
    /* box-shadow: var(--shadow) var(--accent); */
}

.border-effect {
    width: 100%;
    grid-column: 1/4;
    grid-row: 2/4;
    border-radius: 1rem;
    box-shadow: var(--shadow) var(--accent);
}

.group {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
}

.social-group {
    padding: 1rem;
    grid-column: 2/3;
    background-color: var(--neutral);
    border-radius: 1rem;
    /* box-shadow: var(--shadow) var(--accent); */
}

.group :nth-child(1) {
    grid-area: 1/2/1/3;
    position: relative;
}

.group :nth-child(2) {
    grid-area: 2/1/2/2;
}

.group :nth-child(3) {
    grid-area: 3/2/3/3;
}

.group :nth-child(4) {
    grid-area: 2/3/2/4;
}


.icon {
    max-width:4rem;
}
