
.contact {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
    text-align: center;
    gap: 3rem;

}

.email-wrapper {
    display: grid;
    text-align: start;
    min-width: 310px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .5fr 1fr .2fr;
    background: #111;
    border-radius: 1rem;
    box-shadow: 0 0 1rem 5px var(--dgreen);
    padding: 2rem;
    gap: 1rem;
}

#textfield {
    grid-area: 2 / 1 / 2 / 3;
}

#emailButton {
    grid-area: 3 / 1 /3 / 3;
    justify-self: center;
    width: max-content;
    height: max-content;
    padding: .5rem 1rem;
    border-radius: .7rem;
    border: none;
    color: var(--bgreen);
    background: var(--blue);
    box-shadow: 0 0 1rem 5px var(--dgreen);
}

.social{
    background-color: rgba(0,0,0,0);
    object-fit: contain;
        /* box-shadow: 0 0 1rem 5px var(--dgreen); */
    border: none;
}

.title-span {
    flex-basis: 100%;
    grid-column: 1/3;
}

.title-span p {
    font-size: 1.3rem;
}

.group-col {
    flex-basis: 40%;
    display: grid;
    gap: 1.5rem;
}

.socials {
    justify-items: center;
    height: max-content;
}

.group {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: .5rem;
    /* width: max-content; */
    justify-content: center;
}

.social-group {
    border-radius: 50%;
}

.group :nth-child(1) {
    grid-area: 1/2/1/3;
    position: relative;
}

.group :nth-child(2) {
    grid-area: 2/1/2/2;
}

.group :nth-child(3) {
    grid-area: 3/2/3/3;
}

.group :nth-child(4) {
    grid-area: 2/3/2/4;
}


.icon {
    max-width:4rem;
}
