/* --------------------------------------------------------------------------EXPERIMENT CSS----------------------------------------------------- */

.buttons {
    display: flex;
    gap: 2rem;
    margin: 5rem;
    justify-content: center;
}

.exp-button {
    color: var(--text);
    font-size: large;
    border-radius: .5rem;
    padding: .5rem;
    box-shadow: var(--shadow) var(--shadow);
    background-color: var(--compliment);
    backdrop-filter: blur(8px);
}

.experiment-wrapper {
    margin: auto;
}

.experiment {
    display: flex;
    height: 50vh;
    justify-content: center;
}

.head {
    height: 600;
    width: 600;
}
