/* --------------------------------------------------------------------------EXPERIMENT CSS----------------------------------------------------- */

.button-options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: var(--compliment);
    border-radius: 1rem;
    margin: 1rem 0;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 1rem;
    justify-content: center;
}

.buttons h2 {
    flex:100%;
    text-align: center;
}

.exp-button {
    color: var(--text);
    font-size: large;
    border-radius: .5rem;
    height: max-content;
    padding: .5rem;
    box-shadow: var(--shadow) var(--shadow);
    background-color: var(--neutral);
    backdrop-filter: blur(8px);
}

.experiment-wrapper {
    margin: auto;
}

.experiment {
    display: flex;
    height: 50vh;
    justify-content: center;
}

.head {
    height: 600;
    width: 600;
}
