/* --------------------------------------------------------------------------EXPERIMENT CSS----------------------------------------------------- */

.options {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0;
    background: var(--compliment);
    border-radius: 1rem;
    justify-content: space-evenly;
}

.buttons {
    flex: 0 1 31rem;
    display: flex;
    flex-wrap: wrap;
    width: max-content;
    gap: 2rem;
    padding: 1rem;
    justify-content: center;
}

.buttons h2 {
    flex:100%;
    text-align: center;
}

.exp-button {
    display: grid;
    grid-template-rows: .1fr 2fr;
    color: var(--text);
    font-size: large;
    border-radius: .5rem;
    height: 8rem;
    width: 8rem;
    padding: .5rem;
    background-color: var(--neutral);
}

.exp-button img {
    height: 100%;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
}

.experiment-wrapper {
    margin: auto;
}

.experiment {
    display: flex;
    height: 50vh;
    justify-content: center;
}

.head {
    height: 600;
    width: 600;
}
