html {
  width: 100vw;
}

*{
  margin: 0;
  padding: 0;
  --mask:
      conic-gradient(from 20deg at left, #0000, #000 1deg 139deg, #0000 140deg) left/51% 1.65rem repeat-y,
      conic-gradient(from -160deg at right, #0000, #000 1deg 139deg, #0000 140deg) right/51% 1.65rem repeat-y;
  --accent: #006D89;
  --neutral: #2F4858;
  --compliment: #24363a;
  --text: #dadff7;
  --shadow: 0px 0px 8px 0px;
  --second-text:var(--text);
  scrollbar-gutter: stable;
}


body {
  background: #111 center center fixed;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: complimentscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

footer {
  display: flex;
  align-self: normal;
  position: sticky;
  width: 100%;
  top: 100%;
}

p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

a {
  text-decoration: none;
}

.outlet {
  color: var(--text);
}

.front-page {
  min-height: 100vh;
  overflow-x: hidden;
}

.front-page section {
  position: relative;
  display: grid;
  justify-items: center;
  padding: 1rem 0 2rem;
  margin: 3rem 0;
}

@media (max-width: 750px){
  .front-page {
    padding: 0rem 2rem 2rem;
  }
  footer .footer {
    padding: 0 1rem;
  }
}

@media (max-width: 500px) {
  .front-page {
    padding: 0rem;
  }

  .statement {
    padding: .1rem .2rem;
  }
  .statement h3 {
    padding: 0;
    margin: 0;
  }
  footer .footer {
    padding: 0 1rem;
  }
}

/* -------------------------------------------------------------------STATEMENT CSS------------------------------------------------------------ */

.top-section{
  min-height: 70vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1rem;
  margin: 4rem;
  padding: 2rem;
  justify-content: space-evenly;
  align-items: center;
  justify-items: center;
}

.statement {
  width: 95%;
  text-wrap: wrap;
  padding: 1rem;
  border-radius: 1rem;
  color: var(--text);
  background-color: var(--compliment);
  box-shadow: var(--shadow) var(--accent);
  font-family: 'Source Code Pro', monospace;
}

.statement h3 {
  font-size: clamp(.8rem, 1.5vw + .2rem, 2rem);
  padding: 0;
}

.text-load {
  font-family: 'Source Code Pro', monospace;
  color: #111;
  display: inline;
  background-color: #00ff2296;
}

.pic-container {
  position: relative;
  margin: 1.8rem 0 0;
}

.profilepic {
  margin: auto;
  border-radius: 30%;
  width: clamp(121px, 20vw + 1rem, 25rem);
  max-width: 25rem;
  min-width: 121px;
  opacity: .8;
}

.profilepic-overlay {
  position: absolute;
  z-index: 2;
  top: -7%;
  height: 107%;
  width: 110%;
  background: radial-gradient(circle, #33333300 50%, #111 75%);
}

.intro-animation {
  position: fixed;
  z-index: 4;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #00ff22;
  background: #111;
}

.intro-h1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
