.board {
    display: grid;
    grid-template-columns: repeat(8, .3fr);
    gap: 1%;
    align-content: center;
    justify-items: center;
    height: 100dvh;
    width: 50vw;
    margin: auto;
}

.piece {
    width: 100%;

    border: 3px solid transparent;
}

.selected {
    border: 3px solid yellow;
}
