.board {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.piece {
    width: 5rem;
    height: 5rem;
}

.piece-image {
    height: 100%;
    width: 100%;
}
